// @import "asserts/styles/colors";
// @import "asserts/styles/mixins";

.cart {
  position: relative;
  z-index: 999;

  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 998;

    width: 3rem;
    height: 3rem;
    opacity: 0;
    visibility: hidden;
    border-radius: 50%;
    transform: scale(0);
    background-color: rgba(0, 0, 0, 0.65);
    transition: all 0.05s linear 0.15s;
    cursor: default;
  }

  &.active &__overlay {
    visibility: visible;
    opacity: 1;
    transform: scale(80);
    transition-delay: 0s;
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }

  &__title {
    font-size: 1.3rem;
    text-transform: uppercase;

    @media (max-width: 600px) {
        font-size: 2rem;
    }
  }

  &__close {
    position: relative;
    width: 1.8rem;
    height: 1.8rem;

    cursor: pointer;
    @media (max-width: 600px) {
        width: 2.5rem;
        height: 2.5rem;
    }
  }

  &__close:before,
  &__close:after {
    position: absolute;
    content: "";
    top: 45%;

    height: 0.5rem;
    width: 100%;
    border-radius: 999px;
    display: inline-block;
    opacity: 1;
    visibility: visible;

    background-color: #404040;
  }

  &__close:before {
    transform: rotate(45deg);
  }

  &__close:after {
    transform: rotate(-45deg);
  }

  &__close.active:before,
  &__close.active:after {
    animation: collapse 0.5s cubic-bezier(0.77, 0.2, 0.05, 1) forwards;
  }

  &__container {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;

    width: 30rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: -2px 0 15px rgba(0, 0, 0, 0.1);
    opacity: 0.85;
    transform: translateX(100%);

    background-color: #fff;

    transition: all 0.045s ease-in-out 0.09s;

    // @include respond(mobile) {
    //   width: 100%;
    // }
    @media (max-width: 960px) {
        width: 100%;
      }
  }

  &.active &__container {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.035s;
  }
}

@keyframes collapse {
  40% {
    transform: rotate(0);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(10px);
  }
}
